{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": ["off", "never"],
    "no-underscore-dangle": "off",
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false
      }
    ],
    "meteor/eventmap-params": [
      "error",
      {
        "eventParamName": "event",
        "templateInstanceParamName": "instance"
      }
    ],
    "meteor/template-names": [
      "off"
    ]
  },
  "settings": {
    "import/resolver": "meteor"
  }
}
