@navbar-lg-height: 60px;
@navbar-lg-brand-img-height: 42px;

header .navbar {
  min-height: @navbar-height;
  margin-bottom: 0;

  &.in {
    @keyframes fallFromTop {
      0% {
        .translate(0, -100%);
      }

      100% {
        .translate(0, 0);
      }
    }
    .animation-name(fadeIn, fallFromTop;);
    .animated(.3s, .7s);
  }

  &.out {
    @keyframes riseToTop {
      0% {
        .translate(0, 0);
      }

      100% {
        .translate(0, -100%);
      }
    }
    .animation-name(fadeOut, riseToTop;);
    .animated(.3s, .7s);

  }

  @media (min-width: @screen-sm-min) {
    min-height: @navbar-lg-height;
    .position(absolute; auto; 0);

    .navbar-header {
      float: none;

      > * {
        margin: 0 !important;
      }

      .dropdown .navbar-btn {
        height: 40px;
        font-size: 16px;
        line-height: 1.5;
        padding: 8px 14px;
        margin: 10px 0;
      }

      .navbar-brand {
        height: @navbar-lg-height;
        /*
        font-size: 24px;
        line-height: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
        */
        padding-left: 0;
        padding-top: floor((@navbar-lg-height - @navbar-lg-brand-img-height) / 2);
        padding-bottom: ceil((@navbar-lg-height - @navbar-lg-brand-img-height) / 2);

        img {
          height: @navbar-lg-brand-img-height;
        }
      }
    }
  }
}
