<template name="header">
  <header>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="dropdown pull-right">
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">tanglicheng@vargo.com.cn &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">个人信息</a></li>
              <li><a href="#">账户安全</a></li>
              <li><a href="#">云服务中心</a></li>
              <li><a href="#">注销</a></li>
            </ul>
          </div>
          <a class="navbar-brand" href="#">
            <img src="/images/logo_img.png">
          </a>
        </div>
      </div>
    </nav>
  </header>
</template>
